.topBarContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #535c684d;
}

img {
  align-self: flex-end;
}

@media screen and (min-width: 300px) {
  .topBarContainer {
    height: 80px;
  }
  .switch {
    margin-left: 0.8rem;
  }

  img {
    width: 100px;
    align-self: center;
  }
}

@media screen and (min-width: 600px) {
  .topBarContainer {
    height: 90px;
  }
  .switch {
    margin-left: 3rem;
  }
  img {
    width: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .topBarContainer {
    height: 106px;
  }
  .switch {
    margin-left: 3.75rem;
  }
  img {
    width: 176px;
  }
}
