.googleMapContainer {
  width: 80%;
  height: 480px;
  min-width: 400px;
  .containerElement {
    height: 100%;
    .mapElement {
      height: 100%;
    }
  }
}

.loadingElement {
  height: 100%;
}
