.buttonContainer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.buttonContainer p {
  margin: 0;
}

@media screen and (min-width: 300px) {
  .buttonContainer {
    bottom: 80px;
  }
}
@media screen and (min-width: 600px) {
  .buttonContainer {
    bottom: 80px;
  }
}
@media screen and (min-width: 900px) {
  .buttonContainer {
    display: none;
  }
}
